In [15]:
#Name-Sara Potey
#PRN-25070123102
#Experiment-2
#Aim-Study of List

#Creating a list and printing it.
listfruits=["apple","orange","cherry"]
print(listfruits)

['apple', 'orange', 'cherry']

In [29]:
#Creating a list and printing it (where elements are duplicated).
listfruits=["apple","orange","apple","cherry"]
print(listfruits)

['apple', 'orange', 'apple', 'cherry']

In [14]:
# Creating a list and printing the list and lenght of the list.
list1=[2,2.5,True,"sara"]
print(list1)
print(len(list1))

[2, 2.5, True, 'sara']
4

In [17]:
# Printing the elements by indexing and appending the element at back in the list.
listfruits=["apple","orange","cherry"]
print(listfruits[0])
print(listfruits[-2])
listfruits.append("banana")
print(listfruits[0])
print(listfruits[-2])
print(listfruits)

apple
orange
apple
cherry
['apple', 'orange', 'cherry', 'banana']

In [18]:
# Inserting element by indexing at a position
listfruits=["apple","orange","cherry"]
listfruits.insert(1,"banana")
print(listfruits)

['apple', 'banana', 'orange', 'cherry']

In [19]:
#Interchanging the element
listfruits=["apple","orange","cherry"]
listfruits[1]="banana"
print(listfruits)

['apple', 'banana', 'cherry']

In [24]:
#Combining two lists
list1=["apple","orange","cherry"]
list2=["mango","pineapple","banana"]
list1.extend(list2)
print(list1)

['apple', 'orange', 'cherry', 'mango', 'pineapple', 'banana']

In [31]:
# Printing specific elements by indexing
list1=["apple","banana","cherry","kiwi","mango","pineapple"]
print(list1[2:5])
print(list1[2:])
print(list1[:4])

['cherry', 'kiwi', 'mango']
['cherry', 'kiwi', 'mango', 'pineapple']
['apple', 'banana', 'cherry', 'kiwi']

In [53]:
# Create a list of 5 student names
#Display the first and last student
#Add a new student
#Remove any one student
# Sort the list alphabetically

studentlist=["sara","rupsa","sijisha","maahi","ruchika"]
print(studentlist)
print(studentlist[0])
print(studentlist[4])
studentlist[1]="riya"
print(studentlist)
studentlist.remove("riya")
print(studentlist)
studentlist.sort()
print(studentlist)

['sara', 'rupsa', 'sijisha', 'maahi', 'ruchika']
sara
ruchika
['sara', 'riya', 'sijisha', 'maahi', 'ruchika']
['sara', 'sijisha', 'maahi', 'ruchika']
['maahi', 'ruchika', 'sara', 'sijisha']

In [54]:
# Create a list of student marks
# Display highest and lowest marks
# Calculate average marks
# Sort the marks in ascending order

Marks=[80,100,90,60,70]
print(Marks)
print (min(Marks))
print(max(Marks))
print(sum(Marks))
print(len(Marks))
print(sum(Marks)//len(Marks))
Marks.sort()
print(Marks)

[80, 100, 90, 60, 70]
60
100
400
5
80
[60, 70, 80, 90, 100]